.ListItem{
    display: flex;
    justify-content: space-between;
    margin: 11px;
    color: #FFEC51;
    list-style-type: none;
    padding: 0;
    font-size: 30px;
    background-color: #A4036F;
}

.TaskCompleted {
    text-decoration: line-through;
    color: #248232;
    background-color: #1B1B1E;
}

.removeButton{
    color: #1B1B1E;
    text-decoration: none;
}

.checkbox:hover{
    cursor: pointer;
}

@media screen and (max-width: 500px){
    .ListItem{
        font-size: 25px;
    }
    
}

@media screen and (max-width: 435px){
    .ListItem{
        font-size: 20px;
    }
    
}

@media screen and (max-width: 350px){
    .ListItem{
        font-size: 18px;
    }
    
}