@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');


html{
    scroll-behavior: smooth;
}

body{
    background-image: url("pictures/background.png");
    background-repeat: repeat-y;
    background-size: cover;
    color: azure;
    font-family: 'Signika', sans-serif;
    line-height: 1.5;
}

.header{
    font-family:'Calistoga', sans-serif;
    font-size: 75px;
    background: url("https://images.unsplash.com/photo-1509624776920-0fac24a9dfda?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1469&q=80" ) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.completed-task {
    text-decoration: line-through;
    color: #248232;
}

button:hover{
    cursor: pointer;
    background-color: #1B1B1E;
    color: azure;
}